.collapsed{
    display:none;
    overflow: hidden;
}



.list li {

    margin:5px
}
 

  .btn{
    background-color:#10adc5;
    color: white;
  }

  .btn:hover{
    background-color: #1590a3;
  }

  .popover {
    white-space: pre-wrap;    
}

.list-group-item.active{
  background-color:#10adc5;
}
  


